page-home {
}
.sheet{
    display: inline-block;
    margin:10px;
    height: calc(100vw / 2 - 50px);
    width: calc(100vw / 2 - 50px);
    border: solid 2px blue;
    border-radius: 7px; 
    img{
        width: 100%;
        height: 100%;
    }
}
.title{
    height: 30px;
    width: 100%;
    background-color: white;
}
.percent-complete{
    position: absolute;
    width: 100vw;
    background-color: white;
    height: 10px;
    top: 0;
    left: 0;
    border-radius: 5px;
}
.percent-complete span{
    position: absolute;
    background-color: #5fce60;
    height: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 13px 3px 61px -8px rgba(0,0,0,0.47);
    -moz-box-shadow: 13px 3px 61px -8px rgba(0,0,0,0.47);
    box-shadow: 13px 3px 61px -8px rgba(0,0,0,0.47);
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
.zuzen{
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #66dc65;
}
.akats{

    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #ff2f2fa3;
}
.button-media{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin: 25%;
}
audio{
    visibility: hidden;
}