<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{izenburu}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding (keypress)="onKeyPress($event)">
  <div *ngIf="!zorionak">
      <div class="percent-complete"><span [style.width]="completePercent"></span></div>
      <div *ngIf="text">
        <ion-card>
          <ion-card-header>
              <span *ngFor="let texto of text.euskara" (click)="translate($event)">
                {{texto.concat(" ")}}
              </span>
          </ion-card-header>
        </ion-card>
      </div>
      <div *ngIf="audio">
        <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <!-- <img src="img/thumbnail-totoro.png"> -->
              <button class="button-media" (click)="playMedia()">
                <ion-icon [name]="mediaIcon"></ion-icon>
              </button>
            </ion-thumbnail>
            <h2>Escucha y escribe</h2>
          </ion-item>
        </ion-list>
        <audio controls="controls" id="audioTag" autoplay><source [src]="audio" type="audio/mpeg"></audio>
      </div>
      <ion-item>
        <ion-textarea type="text" lineHeight="22" [(ngModel)]="response"></ion-textarea>
      </ion-item>
        <div *ngIf="!isCorrecting">
        <button ion-button full (click)="zuzendu()">Zuzendu</button>
      </div>
      <div *ngIf="isCorrecting">
        <div [className]="evaluationClass">{{isCorrecting}}</div>
        <button ion-button full (click)="jarraitu()">Jarraitu</button>
      </div>
  </div>
  <div *ngIf="zorionak">
    ENHORABUENA!!!
  </div>
</ion-content>