<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name="bookmarks"></ion-icon> Hiztegiak </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <!-- <ion-label fixed>
              <ion-icon name="search"></ion-icon> Hizta</ion-label> -->
            <ion-input type="text" [(ngModel)]="hizta"></ion-input>
            <ion-item>
              <ion-label>Lenguage</ion-label>
            </ion-item>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-select [(ngModel)]="language" interface="popover">
            <ion-option value="eu">Euskera - Castellano</ion-option>
            <ion-option value="es">Castellano - Euskera</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <button ion-button full (click)="clickTranslate()">Buscar</button>
    </ion-item>
  </ion-list>

  <div *ngIf="result">
    <ion-card>
      <ion-card-header>
        {{result.hitza}}
      </ion-card-header>
      <ion-card-content>
        <ion-list no-lines>
          <div *ngFor="let translation of result.trans">
            {{translation}}
          </div>
        </ion-list>        
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="result.examples.length>0">
      <ion-card-header>
        Ejemplos
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <div *ngFor="let example of result.examples">
            {{example}}
          </div>
        </ion-list>        
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>