ion-content.home{
    background-image: url("../assets/icon/gaiaBackground.jpg");    
}
.sheet{
    display: inline-block;
    margin:10px;
    height: calc(100vw / 2 - 50px);
    width: calc(100vw / 2 - 50px);
    border: solid 2px blue;
    border-radius: 7px; 
    img{
        width: 100%;
        height: 100%;
    }
}
.title{
    height: 30px;
    width: 100%;
    background-color: white;
}
.card-element.passed{
    opacity: 0.65;
}
.card-element{
    display: inline-block;
    margin: 10px;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    .card-pic{
        display: inline-block;
        height: 100%;
        width: 100px;
        max-width: 90px;
    }
    .card-text{
        display: inline-block;
        height: 100%;
        max-width: 190px;
        width: 200px;
    }
}
.center{
    text-align: center;
}
